{% extends '../base.html %}

{% block css_link %}
<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
				<div id="site-introduction">
					<img id="profile" src="/assets/images/201912191091054822_1.jpg">
					<h2>안녕하세요.<br/>정구연의 mysite에 <br/>오신 것을 환영합니다.</h2>
					<p>
						board #0 application 생성<br/>
						board #0 application 준비작업<br/>
						board #1 index 페이지 목록 가져오기 구현<br/>
						board #2 글보기 기능 구현<br/>
						board #3 글쓰기 기능 구현<br/>
						board #4 글수정 기능 구현<br/>
						board #5 글삭제 기능 구현<br/>
						board #6 글목록 들여쓰기 구현<br/>
						board #7 답글쓰기 구현<br/>
						board #8 글목록 검색 구현<br/>
						board #9 유저 상태에 따른 버튼구성 구현<br/>
						board #10 token 발행,page 접근 제한,본인 확인 구현<br/>
						board #11 게시글 조회수 갱신 구현<br/>
						board #12 순차적인 글번호 적용<br/><br/>
						게시판 과제는 위와 같은 순서로 작업했습니다<br/>
						에러가 왜 이리 많이 나는지..<br/>
						이정도 만드는데도 시간이 꽤 많이 걸리더군요<br/>
						그러면서 파이썬 코딩하는데에 점점 익숙해지는 것을 체감할 수 있어서 좋았습니다<br/><br/>

						강사님이 말씀하신 대로 검색해서 긁어오지 않고,<br/>
						되도록 스스로 고민하면서 기능을 구현해봤습니다<br/>
						시간이 더 많이 걸렸지만 그 또한 성장의 발판이 될 것 같아서 그대로 해봤습니다<br/><br/>

						원래 수요일 자정까지 작업하는 것으로 해주셨는데 월요일까지로 변경되었지만<br/>
						저는 수요일 자정까지 댓글 기능을 마저 구현해보려고 합니다<br/>
						점수에 반영이 될지는 모르겠지만 코딩을 하면서 점점 성장하는 것 같아서 해보려고 합니다<br><br>
						<a href="/guestbook">방명록</a>에 글 남기기<br>
					</p>
				</div>

{% endblock %}