{% extends '../base.html' %}
{% load mathfilters %}
{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board">
				<form id="search_form" action="" method="post">{%csrf_token%}
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>
					{% for oneBoard in boardList %}
					<tr>
						<td>{{oneBoard.no}}</td>
						{% if oneBoard.depth == 0 %}
						<td><a href="/board/view?no={{oneBoard.no}}" style="text-align:left; padding-left:0px">
							{{oneBoard.title}}</a></td>
						{% else %}
						<td><a href="/board/view?no={{oneBoard.no}}" style="text-align:left; padding-left:{{oneBoard.depth|mul:30}}px">
							<img src="/assets/images/reply.png"/>{{oneBoard.title}}</a></td>
						{% endif %}
						{% if oneBoard.del != 1 %}
						<td>{{oneBoard.name}}</td>
						{% else %}
						<td>-----</td>
						{% endif %}
						{% if oneBoard.del != 1 %}
						<td>{{oneBoard.hit}}</td>
						{% else %}
						<td>--</td>
						{% endif %}
						<td>{{oneBoard.reg_date}}</td>
						{% if oneBoard.del != 1 and request.session.authuser.name == oneBoard.name%}
						<td><a href="/board/delete?no={{oneBoard.no}}" class="del">삭제</a></td>
						{% endif %}
					</tr>
					{% endfor %}
<!--				<tr>
						<td>2</td>
						<td><a href="" style="text-align:left; padding-left:30px"><img src="/assets/images/reply.png" /> 두 번째 글입니다.</a></td>
						<td>안대혁</td>
						<td>3</td>
						<td>2015-10-02 12:04:12</td>
						<td><a href="" class="del">삭제</a></td>
					</tr>
					<tr>
						<td>1</td>
						<td><a href="" style="text-align:left; padding-left:60px"><img src="/assets/images/reply.png" /> 첫 번째 글입니다.</a></td>
						<td>안대혁</td>
						<td>3</td>
						<td>2015-09-25 07:24:32</td>
						<td><a href="" class="del">삭제</a></td>
					</tr>	-->
				</table>

				<!-- pager 추가 -->
<!--			<div class="pager">
					<ul>
						<li><a href="">◀</a></li>
						<li><a href="">1</a></li>
						<li class="selected">2</li>
						<li><a href="">3</a></li>
						<li>4</li>
						<li>5</li>
						<li><a href="">▶</a></li>
					</ul>
				</div>-->
				<!-- pager 추가 -->
				{% if request.session.authuser != None %}
				<div class="bottom">
					<a href="/board/writeform" id="new-book">글쓰기</a>
				</div>
				{% endif %}
			</div>
{% endblock %}